// 變數

$var : 10px;
$font-family : "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$color : #f70000;
$fontbase :  14px;


//header

$header-color :  #0e0e0e ; 


$large :  1200px;
$medium : 768px;
$small : 767px;