//巢狀
.content {
    width: $var;
    background-color: rgb(142, 255, 132);
    h1 {
        font-family: $font-family;
        color: $color;
        span {
           font-size:  $fontbase;
        }
    }
}
